*{
	font-family: Roboto, Helvetica;
}

body{
	margin: 0;
}

a{
	text-decoration: none;
	color: #E5E7EB;
}

.contenedorEncabezado, .sectorConCuatroMichis, .sectorCitaInspiracional, .sectorCallToAction, .pieDepagina{
	padding-left: 10%;
	padding-right: 10%;
}

.contenedorEncabezado, .pieDePagina{
	background-color: #1F2937;
}


.logoYLinksDelEncabezado{
	display: flex;
	padding-bottom: 0;
	height: 100px;
}

.logoEncabezado{
	
	font-size: 24px;
	color: #F9FAF8;
	padding: 2em 0em;
	border: 0;
	margin:0;
	
}

.linksDelEncabezado{

	display: flex;
	flex: 1;
	justify-content: flex-end;

	padding: 2em 0em;
	border: 0;	

}

.primerLinkEncabezado, .segundoLinkEncabezado, .tercerLinkEncabezado{

	margin-left: 1.5em;
	margin-right: 1.5em;

}

.tercerLinkEncabezado{
	margin-right: 0em;
}

.subtituloEncabezado, .primerLinkEncabezado, .segundoLinkEncabezado, .tercerLinkEncabezado{
	font-size: 18px;
	color: #E5E7EB;
}

.tituloSubtituloEImagenPrincipal{
	display: flex;
	padding-top: 7.5%;
	padding-bottom: 7.5%;
}

.tituloSubtituloYBoton{
	display: flex;
	flex-direction: column;
	width: 40%;
	margin-right: 5em;
}

.tituloPrincipalEncabezado{
	
	margin-top: 0;
	flex: 1.25;
	margin-bottom: 0;
	font-size: 48px;
	font-weight: 800;
	color: #F9FAF8;
}

.subtituloEncabezado{
	flex: 1.50;
	margin-top: 0;
	margin-bottom: 0;

}

.botonEncabezado{
	flex: 0.25;
	width: 130px;
	border-radius: 12px;
	border: none;
	background-color: #3882F6;
	color: #E5E7EB;
	font-size: 18px;
	font-weight: 600;

	padding-top: 2%;
	padding-bottom: 2%;
}

.imagenDelGatitoEncabezado{

	widht: 50%;
	height: 250px;
	flex: 1;
}

.sectorConCuatroMichis{
	display: flex;
	flex-direction: column;
	padding-bottom: 2.5%;
	padding-top: 2.5%;
	}

.tituloSectorCuatroMichis{
	text-align: center;
	font-size: 36px;
	font-weight: 800;
	color: #1F2937;
	padding-bottom: 2.5%;
	padding-top: 2.5%;
}

.cuatroImagenesEnFilaConSubtitulos{
	display: flex;
	justify-content: space-around;
}

.imagen1DeSectorMedio, .imagen2DeSectorMedio, .imagen3DeSectorMedio, .imagen4DeSectorMedio{

	width: 200px;
	height: 200px;
	border: solid 5px #3882F6;
	border-radius: 24px;

}

.subtitulo1SectorMedio, .subtitulo2SectorMedio, .subtitulo3SectorMedio, .subtitulo4SectorMedio{

	text-align: center;
	font-size: 18px;
	margin-top: 2%;
	width: 200px;
	color: #322D2C;

}

.sectorCitaInspiracional{
	display: flex;
	flex-direction: column;
	background-color: #E5E7EB;
	padding-bottom: 8%;
	padding-top: 8%;
	
}

.citaInspiracional{
	font-size: 36px;
	font-weight: 300;
	font-style: italic;
	color: #1F2937;
	width: 90%;
	margin-bottom: 0;

}

.creditoDeLaCita{
	text-align: right;
	width: 90%;
	font-size: 26px;
	font-weight: 600;
	color: #1F2937;
}

.sectorCallToAction{

	display: flex;
	background-color: #3882F6;
	border-radius: 12px;
	justify-content: center;
	justify-items: center;



	margin-right: 250px;
	margin-left: 250px;
	margin-top: 5%;
	margin-bottom: 5%;


}

.tituloYSubtituloCallToAction{
	display: flex;
	flex-direction: column;
	align-content: center;
	width: 700px;
}

.llamadoALaAccionTexto{
	margin-bottom: 0;
	margin-top: 26px;
	font-size: 18px;
	font-weight: 600;
	color: #F9FAF8;

	padding-right: 100px;

}

.llamadoALaAccionSubtitulo{

	margin-top: 5px;

	font-size: 16px;
	font-weight: 400;
	color: #F9FAF8;

}

.botonLlamadoALaAccion{

	border: solid #F9FAF8 2px;
	border-radius: 12px;

	color: #F9FAF8;
	font-style: italic;
	font-size: 16px;
	font-weight: 800;

	background-color: #3882F6;
	
	width: 120px;
	margin-top: 40px;
	margin-bottom: 40px;

}

.pieDePagina{

	padding-top: 1.5%;
	padding-bottom: 1.5%;
}

.copyrightPieDePagina{

	text-align: center;
	font-size: 16px;
	font-weight: 400;
	color: #E5E7EB;

}